<div class="min-width-box">
	<div class="logo-box" id="logo">
		<div class="logo-d2c"><a href="http://www.opd2c.com/" target="_blank">上海东方明珠迪尔希</a></div>
		<div class="logo-silkroad"><a ui-sref="home">掌上丝绸之路</a></div>
	</div>
	<div class="right-box">
		<div class="bottom-nav">
			<ul>
				<li><a href="http://www.opd2c.com/manage.php?GET_Table_Action=DEF_PATH_TABLE_ABOUT" target="_blank">关于我们</a></li>
				<li><a href="/#/index2c/project">项目介绍</a></li>
				<li><a href="/#/index2c/job">招贤纳才</a></li>
				<li class="last"><a href="http://www.opd2c.com/manage.php?GET_Table_Action=DEF_PATH_TABLE_CONTACT" target="_blank">联系我们</a></li>
			</ul>
		</div>
		<div class="copyright">
			<p>Copyright © 2017 上海东方明珠迪尔希文化传媒有限公司<br />工业和信息化部：<a href="http://www.miitbeian.gov.cn" target="_blank">工业和信息化部：沪ICP备15015900号-4</a><br /><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011002000319" target="_blank"><img src="../images/beian.png" /> 沪公网安备 31011002000319号</a></p>
		</div>
	</div>
</div>