<div class="min-width-box">
	<div class="logo-box" id="logo">
		<div class="logo-d2c"><a href="http://www.opd2c.com/" target="_blank">上海东方明珠迪尔希</a></div>
		<div class="logo-silkroad"><a ui-sref="home">掌上丝绸之路</a></div>
	</div>
	<div class="right-menu" ng-show="showRightMenu">
		<div class="nav" ng-show="showNav">
			<ul>
				<li class="{{$index == nowPage ? 'active' : ''}}" ng-repeat="nav in navList">
					<a ui-sref="{{nav.href}}">{{nav.title}}</a>
				</li>
			</ul>
		</div>
		<div class="btn-quit" ng-show="false">
			<a ui-sref="login">退出</a>
		</div>
		<div class="search-box" ng-show="false">
			<div class="drop-down-list" ng-click="showList()">
				<div class="select {{arrowUp}}">
					<span>{{select}}</span>
					<i class="iconfont icon-jiantou"></i>
				</div>
				<div class="list" ng-show="show">
					<ul>
						<li ng-repeat='menu in dropDownList' ng-click="changeVal($index)">{{menu}}</li>
					</ul>
				</div>
			</div>
			<div class="input-box">
				<input type="text" />
			</div>
			<div class="icon-search">
				<i class="iconfont icon-sousuo"></i>
			</div>
		</div>
	</div>
</div>