<div class="container-fluid">
	<div class="top-column">
		<div class="logo-box" id="logo">
			<div class="logo-d2c"><a href="http://www.opd2c.com/" target="_blank">上海东方明珠迪尔希</a></div>
			<div class="logo-silkroad"><a ui-sref="home">掌上丝绸之路</a></div>
		</div>
	</div>
	<div class="bg-box" id="bg-box">
		<div class="bg-1 active" style="opacity: 1;" ></div>
		<div class="bg-2"></div>
		<div class="bg-3"></div>
		<div class="bg-4"></div>
		<div class="bg-5"></div>
	</div>
	<div class="entry-box">
		<div class="slogan">乐享其中 其乐无穷</div>
		<div class="button-box">
			<a ui-sref="index2c">玩家入口</a>
			<a href="/b/b_applist.aspx?type=tobapp">厂商入口</a>
		</div>
	</div>
</div>
<audio id="bgm" autoplay="autoplay" loop="loop">
	<source src="/audio/bgm.mp4" type="audio/mpeg" />
</audio>