<div class="common-list job">
	<div class="title">
		<div class="min-width-box">
			<h2>招贤纳才</h2>
		</div>
	</div>
	<div class="min-width-box">
		<div class="list">
			<ul>
				<li>
					<div class="job-box">
						<h3>游戏制作人</h3>
						<div class="info">
							<h4>职位描述</h4>
							<ol>
								<li>全面负责项目监制、定位、制作工作；</li>
								<li>组建并管理研发团队，并制订研发体系流程；</li>
								<li>对游戏设计方案进行审核指导，策划游戏主体架构，游戏主体逻辑规则，确定各大系统功能玩法；</li>
								<li>进行市场调研工作，制订公司产品线方向，合理调度、分配研发力量；</li>
								<li>带领策划、美术、程序、测试在内的项目制作团队，对项目工期、质量进行控制和审核。</li>
							</ol>
							<h4>任职资格</h4>
							<ol>
								<li>八年以上网络游戏行业从业经验，三年以上游戏制作人经验；</li>
								<li>有完整手机游戏制作经验，对游戏设计、游戏制作有深刻的理解；</li>
								<li>精通从团队组建、市场调研、项目开发、项目控制到质量审核等全部环节；</li>
								<li>对于市场和产品有一定的敏感性，关注最新的设计动向；</li>
								<li>有成功手机游戏开发经验者优先。</li>
							</ol>
						</div>
					</div>
				</li>
				<li>
					<div class="job-box">
						<h3>商务经理</h3>
						<div class="info">
							<h4>职位描述</h4>
							<ol>
								<li>负责游戏客户、产品的商务合作洽谈与拓展；</li>
								<li>游戏产品接入跟进，跟踪游戏开服、活动、版本更新等信息，关注运营数据；</li>
								<li>维护合作伙伴关系，核对商务合同，日常对账统计，落实结算回款；</li>
								<li>定期收集游戏市场、竞争对手信息，关注游戏行业动态，关注同类产品的动态。</li>
							</ol>
							<h4>任职资格</h4>
							<ol>
								<li>本科以上学历，英语听说读写能力极佳，熟悉游戏商务英语；</li>
								<li>熟悉行业游戏产品类型，并有深刻认识、具有移动网游、网页游戏行业敏锐市场意识；</li>
								<li>性格开朗、热情、外向，善于沟通，具有较强的人际交往和商务拓展能力；</li>
								<li>具有较强的商务谈判能力，了解webgame市场及产品运营相关知识；</li>
								<li>熟悉商务谈判过程、商务合同条款及合作流程，进取心强，能适应高强度的工作节奏；</li>
								<li>非常热爱游戏相关工作（拥有广泛的游戏行业人脉资源者优先考虑）。</li>
							</ol>
						</div>
					</div>
				</li>
				<li>
					<div class="job-box">
						<h3>市场主管</h3>
						<div class="info">
							<h4>职位描述</h4>
							<ol>
								<li>确立游戏产品不同阶段的市场宣传方向；</li>
								<li>协调公司内外资源搭建游戏营销平台，优化整合线上线下推广营销资源；</li>
								<li>负责游戏产品的市场营销策划、市场活动的组织实施审核确认；</li>
								<li>根据公司产品的市场、用户、竞争对手等分析内容对整体市场方向调整把握。</li>
							</ol>
							<h4>任职资格</h4>
							<ol>
								<li>熟悉游戏推广渠道，与主流推广渠道保持较好关系；</li>
								<li>3年以上网络游戏公司推广工作经验，1年以上团队管理经验，1年以上手游市场推广经验；</li>
								<li>具有较强的人际沟通、协调和统筹策划能力；</li>
								<li>思维活跃，对新颖推广方式有较好的判断；</li>
								<li>对项目的整体运营有必要的了解。</li>
								<li>对数字敏感，优秀的数字分析能力；</li>
								<li>突发情况应变能力；</li>
								<li>具备成熟的团队协作意识，热衷游戏事业；</li>
								<li>有二次元产品成功推广经验的优先考虑。</li>
							</ol>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>