<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta name="description" content="掌上丝绸之路, 世界了解中国原创手游的窗口。">
<meta name="keywords" content="东方明珠迪尔希,掌上丝绸之路,中国原创手游,手游发行,IP平台,手游投资,中小CP">
<title>掌上丝绸之路</title>
<link type="image/x-icon" href="../images/sl.ico" rel="shortcut icon">
<meta name="robots" content="all">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!--build:css /css/style.min.css -->
<link href="../css/iconfont.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<!-- endbuild -->

