<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 数据库连接 开始-->
    <add key="OPD2C_DBConnectionString" value="data source=.;user id=OPD2C;password=B9S0YI2hWT2hi7VF;initial catalog=OPD2C_WEB;Max Pool Size = 512" />
    <!-- 数据库连接 结束-->
    <add key="PageSize" value="10" />
    <add key="PageShow" value="1" />
    <!-- 新闻公告ID配置 数据格式 类别,名称,英文名,所属平台ID|-->
    <add key="NewsType" value="0101,《疯狂原始人》-新闻,news,01|0102,《疯狂原始人》-公告,notice,01|0103,《疯狂原始人》-攻略,strategy,01|0201,《掌上丝绸之路》-玩家站新闻,toc,02|0202,《掌上丝绸之路》-厂商站新闻,tob,02|0203,《掌上丝绸之路》-滚动新闻,marquee,02"/>
    <!-- 广告位配置-->
    <add key="ShowType" value="0201,首页-轮播位,02|0202,首页-推荐手游,02|0203,首页-底部通栏,02" />  
    <!-- 游戏分类配置 数据格式 类别,名称,英文名,所属平台ID|-->
    <add key="GameClass" value="0201,玩家站游戏,tocapp,02|0202,厂商站游戏,tobapp,02|0203,厂商站IP,tobip,02"/>
    <!-- 游戏所属阶段配置 数据格式 名称,英文名|-->
    <add key="GameStage" value="DEMO,DEMO|测试,TEST|已上线,ONLINE"/>
    <!-- 游戏筛选条件配置 数据格式 名称,英文名|-->
    <add key="GameCondition_APP_Demand" value="找发行商,Publisher|找投资方,Investment|项目出售,Project"/>
    <add key="GameCondition_APP_Platform" value="iOS,IOS|Android,Android"/>
    <add key="GameCondition_IP_Area" value="中国大陆,China|海外,Overseas|全球,Global"/>
    <add key="GameCondition_IP_Type" value="动漫,Comic|影视,Movies|小说,Novel|体育,Sports|综艺,Variety|其它,TypeOther"/>
    <add key="GameCondition_IP_Style" value="二次元,ACT|玄幻,Fantasy|仙侠,Fairy|现代,Modern|其它,StyleOther"/>
	<add key="GameCondition_IP_Authorization" value="手游,MGame|小说,Novel|漫画,Comic|周边,Circum|其它,StyleOther"/>
<!-- 网站显示语言 开始-->
    <add key="Langauge" value="CN"/>
	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
  </compilation>
    <machineKey validationKey="B8CEF0C74E23E7197FCC4C9E3617C0007D94D43C7F7A79C582C54B95D69B946DFD49CAF5AA72F9A8CA2CBA040A9DF64DC1DF90DAE1214AE4F1AB7FA56DD65C0D" decryptionKey="D7F1CE31847C4FB31EF51E14F3820D52B659AF8523FC932C03506CC075DB8B28" validation="SHA1" decryption="AES" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms name=".opd2c" loginUrl="login.aspx" protection="All" timeout="60" />
    </authentication>
<customErrors mode="Off"/>
<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
<location path="b">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
  </system.webServer>
</configuration>
<!--ProjectGuid: {E99C69EE-6203-4798-80C1-AFED9B6C40FC}-->